/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-0: #ffffff;
  --grey-100: #fbfbfc;
  --grey-200: #f5f6f7;
  --grey-300: #eaecef;
  --grey-400: #caced4;
  --grey-600: #8892a0;
  --grey-700: #616b79;
  --grey-800: #3e444e;
  --grey-900: #353b43;
  --grey-950: #16181c;
  --blue-0: #eff4ff;
  --blue-100: #b6caff;
  --blue-200: #84a7ff;
  --blue-300: #5d8bff;
}

body.light {
  background-color: var(--light-body);
  color: var(--light-text);
}

body.dark {
  background-color: var(--dark-body);
  color: var(--dark-text);
}

/* 추가 스타일을 여기에 작성하세요 */
